<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/src/index.css"/>
    <title>Bayun SSO</title>
  </head>
  <body class='h-full bg-white'>
  <div class="font-roboto text-black min-h-full h-full">
    <div class="hero min-h-screen">
      <div class="hero-content flex-col w-full gap-0">
        <div class="collapse w-fit">
          <input type="checkbox" />
          <div class='collapse-title flex flex-col items-center w-fit'>
            <div>
              <span class='text-9xl font-thin'>OOPS!</span>
            </div>
            <div class='-translate-y-12 h-0 w-fit'>
              <div class='bg-white px-2 text-2xl font-medium'>
                <span class='text-blue-600'><span class='text-red-600'><span th:text="${error.status}"></span> -</span>- <span th:text="${error.type}"></span></span>
              </div>
            </div>
          </div>
          <div class="collapse-content pl-6">
            <div><span class='text-sm text-red-600'>
                <span class='font-medium text-black'>Status: </span>
                <span th:text="${error.status}"></span>
              </span></div>
            <div><span class='text-sm text-blue-600'>
              <span class='font-medium text-black'>Type: </span>
              <span th:text="${error.type}"></span>
            </span></div>
            <div><span class='text-sm text-green-600'>
              <span class='font-medium text-black'>Description: </span>
              <span th:text="${error.description}"></span>
            </span></div>
            <div><span class='text-sm text-purple-600'>
              <span class='font-medium text-black'>Timestamp: </span>
              <span th:text="${error.timestamp}"></span>
              <span class='text-gray-500'> (unix)</span>
            </span></div>
          </div>
        </div>
        <a href="/" class="btn btn-ghost btn-outline w-xs normal-case text-lg font-normal w-full">На главную страницу</a>
      </div>
    </div>
  </div>
  </body>
</html>
